<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>dashboard</title>
    <!--favicon-->
    <link rel="icon" type="image/vnd.microsoft.icon" href="images/favicon.png">
    <!--bootstrap style-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
    <!--animate style-->
    <link rel="stylesheet" type="text/css" href="css/hover-min.css" />
    <link rel="stylesheet" type="text/css" href="css/animate.css" />
    <!--themify style-->
    <link rel="stylesheet" type="text/css" href="css/themify-icons.css" />
    <link rel="stylesheet" href="css/modal-video.min.css">
    <!--owl carousel style-->
    <link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" type="text/css" href="css/owl.theme.css" />
    <!--fonts style style-->
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="css/cryptocoins.css" />
    <link rel="stylesheet" type="text/css" href="css/cryptocoins-colors.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">
    <!--bootstrap form helpers-->
    <link rel="stylesheet" type="text/css" href="css/bootstrap-formhelpers.css" />
    <!--typography style-->
    <link rel="stylesheet" type="text/css" href="css/typography.css" />
    <!--basic style-->
    <link rel="stylesheet" type="text/css" href="css/side_menu.css" />
    <link rel="stylesheet" type="text/css" href="css/style2.css" />
    <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body class="dashbody">
    <div id="ui" class="ui ui-aside-compact">
      <!--header start-->
      <header id="header" class="ui-header">
        <!--div class="navbar-header">
          <a href="#" class="navbar-brand">
            <span class="logo">
              <img src="images/admin-logo.png" alt="admin_logo">
            </span>
            <span class="logo-compact">
              <img src="images/logo_icon.png" alt="admin_logo_icon">
            </span>
          </a>
        </div-->
        <div class="navbar-collapse nav-responsive-disabled">
          <!--ul class="nav navbar-nav">
            <li>
              <a class="toggle-btn" data-toggle="ui-nav" href="javascript:void(0)">
                <i class="ti-menu"></i>
              </a>
            </li>
          </ul-->
          <div class="admin_title">
            <h3 class="text-white-title">Arteryex Dashboard </h3>
          </div>
          <div class="admin_user_right">
            <button class="logout"> <a href="/logout">logout</a></button>
        </div>
      </header>
      <!--header end-->
      <div id="content" class="ui-content ui-content-aside-overlay">
        <div class="ui-content-body">
          <div class="ui-container">
            <div class="admin_body ">
              <div class="row">
                <div class="color-wrap">
              <div class="row">
                <div class="col-xs-12">
                  <div class="info-bar mt-35 mb-20">
                      <span class="text-white">softcap achievement rate</span>
                      <div class="w3-light-grey">
                        <div class="w3-container w3-green w3-center" style="width:10%">10%</div>
                      </div>
                  </div>
                  <div class="info-left">
                    <span class="theme-color fw-3">Current Bonus: 20%</span><br>
                    <span class="theme-color fw-3">AXC token address(don`t send your ETH to this address): 0x20b4fc8b1cc06b6c44315f5bb7f578131f7878ba</span>
                  </div>
                  <div class="info-right">
                    <span class="theme-color text-right">Next Bonus Shift: 11D 12H 43M 10s</span>
                  </div>
                </div>
              </div>
              <div class="dashboard-space1">
                How to buy AXC
                <li>Step1: Please identificate</li>
                <li>Step2: Please register your wallet (don`t register exchanges wallet in here)</li>
                <li>Step3: Send ETH to our crowdsales address then you will automatically get AXC</li>
                <span style="    
                  color: red;
                  font-size: 12px;
                  font-family: Meiryo UI;">
                  this dashboard dosen`t have send ETH function, Please use your wallet app to send
                </span>
              </div>
              <div class="row">
                <div class="col-md-7 mt-20 mb-10">
                  <ul class="wallet-details">
                    <div class="dashboard-space-crowdsaleinfo">
                      <h2 class="theme-color mb-20">CrowdSale Info</h2>
                      <li class="theme-color1">
                        <span class="text-white">Rate: 1ETH = 12000AXC</span>
                      </li>
                      <li>
                        <% if (user.kyc === 2) { %>
                        <span class="text-white">please waiting for crowdSale start</span>
                        <% } else { %>
                        <span class="text-white">CrowdSales Adress: "Please Identification"</span>
                        <% } %>
                      </li>
                    </div>

                    <div class="dashboard-space1">
                        <h2 class="theme-color mb-20">Identification(STEP1)</h2>
                        <% if ( user.kyc == 0 ) { %>
                          <% if (typeof savedid !== 'undefined') { %>
                            <p class="error"><%= savedid %></p>
                          <% } else { %>
                          <form action="/identification" method="POST" enctype="multipart/form-data">
                            <div class="form-group">
                              <label for="firstname">Firstname</label>
                              <input type="text" class="form-control id-input" name="firstname" placeholder="firstname" required>
                            </div>
                            <div class="form-group">
                              <label for="lastname">Lastname</label>
                              <input type="text" class="form-control id-input" name="lastname" placeholder="lastname" required>
                            </div>
                            <div class="form-group">
                              <label for="file">input your Identification</label>
                              <input type="file" name="id_image" accept="image/jpeg, image/png, image/jpg" required>
                            </div>
                            <div class="check">
                              <label>
                                <input type="checkbox" required> Check
                              </label>
                            </div>
                            <div class="admin-btn">
                              <button type="submit" class="btn validate-btn">Validate</button>
                            </div>
                          </form>
                          <% } %>
                        <% } else if ( user.kyc == 1 ){ %>
                          <p class="error">Checking...<br>
                            if you wait over 24 hours, Please contact us<br>
                            mail:info@arteryex.biz
                          </p>
                        <% } else {%>
                          <p class="error">Authenticated</p>
                        <% } %>
                      </div>


                  </ul>
                </div>
                <div class="col-md-5 mt-20 mb-10">
                  
                <div class="dashboard-space1">
                    <h2 class="theme-color mb-20">Your Wallet Info(STEP2)</h2>
                    <form action="/dashboard" method="POST">
                      <li class="theme-color1" style="list-style: none;">
                        <h6>
                          <i class="cc ETH"></i><span class="text-white">Your Ether Wallet</span>
                        </h6>
                        <input type="text" class="wallet-form" name="wallet" id="wallet" value= <%= user.wallet %> >
                        <div class="admin-btn">
                          <button type="submit" class="btn regist-wallet-btn"><i class="fa fa-caret-right"></i>Register/Edit</button>
                        </div>
                      </li>
                      <span style="color: red">※ don`t register exchanges address here</span>
                    </form>
                    <!--form action="" method="POST">
                      <li class="theme-color1">
                          <span class="text-white"> Claim Refund
                          </span>
                      </li>
                      <button type="submit" class="btn refund-btn">Refund</button>
                    <form-->
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="js/jquery-2.1.4.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/side_menu.js"></script>
</html>
