<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Deposit</title>

<!--bootstrap style-->

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  />

<!--animate style-->

<link rel="stylesheet" type="text/css" href="css/hover-min.css"  />
<link rel="stylesheet" type="text/css" href="css/animate.css"  />

<!--themify style-->

<link rel="stylesheet" type="text/css" href="css/themify-icons.css"  />
<link rel="stylesheet" href="css/modal-video.min.css">

<!--owl carousel style-->

<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css"  />
<link rel="stylesheet" type="text/css" href="css/owl.theme.css"  />

<!--fonts style style-->

<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"  />
<link rel="stylesheet" type="text/css" href="css/cryptocoins.css"  />
<link rel="stylesheet" type="text/css" href="css/cryptocoins-colors.css"  />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">

<!--bootstrap form helpers-->

<link rel="stylesheet" type="text/css" href="css/bootstrap-formhelpers.css"  />

<!--typography style-->

<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!--basic style-->
<link rel="stylesheet" type="text/css" href="css/side_menu.css" />
<link rel="stylesheet" type="text/css" href="css/style2.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
</head>

<body class="dashbody">
<div id="ui" class="ui ui-aside-compact"> 
  <!--header start-->
  <header id="header" class="ui-header">
    <div class="navbar-header"> <a href="#" class="navbar-brand"> <span class="logo"><img src="images/admin-logo.png" alt="admin_logo"></span> <span class="logo-compact"><img src="images/logo_icon.png" alt="admin_logo_icon"></span> </a> </div>
    <div class="navbar-collapse nav-responsive-disabled">
      <ul class="nav navbar-nav">
        <li><a class="toggle-btn" data-toggle="ui-nav" href="javascript:void(0)"><i class="ti-menu"></i></a></li>
      </ul>
      <div class="admin_title">
        <h3 class="text-white">Deposit </h3>
      </div>
      <div class="admin_user_right">
        <select>
          <option>other Links</option>
          <option>Settings </option>
          <option>Account</option>
        </select>
        <ul>
          <li><a href=""><i class="fa fa-asterisk"></i></a></li>
          <li><a href=""><i class="fa fa-bell"></i></a><small class="not-no">1</small></li>
          <li><a href=""><i class="fa fa-power-off"></i></a></li>
        </ul>
      </div>
    </div>
  </header>
  <!--header end--> 
  
  <!--sidebar start-->
  <aside id="aside" class="ui-aside">
    <div class="profile-info"> <span class="profile-img"> <img src="images/profile-img.jpg" alt="admin_logo"></span>
      <h5 class="fw-3 text-white"> Dr. Lenordo Dicaprio</h5>
      <ul class="profile-social">
        <li><a href=""><i class="fa fa-facebook"></i></a></li>
        <li><a href=""><i class="fa fa-twitter"></i></a></li>
        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
        <li><a href=""><i class="fa fa-youtube"></i></a></li>
        <li><a href=""><i class="fa fa-reddit"></i></a></li>
        <li><a href=""><i class="fa fa-skype"></i></a></li>
      </ul>
    </div>
    <ul class="nav" ui-nav="">
      <li class="side-title"> <a href="#"><img src="images/main-ico.png" class="img-responsive" alt="ico"><span class="theme-color">Main menu</span></a> </li>
      <li> <a href="#"><img src="images/ico1.png" class="img-responsive" alt="ico"><span>Dashboard</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>Dashboard</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico2.png" class="img-responsive" alt="ico"><span>Wallet</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>Wallet</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico3.png" class="img-responsive" alt="ico"><span>Transaction</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>Transaction</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico4.png" class="img-responsive" alt="ico"><span>Exchanges <i class="fa fa-caret-down"></i></span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>Exchanges</span></a></li>
          <li><a href="#"><span>Sample Links page</span></a></li>
          <li><a href="#"><span>Sample Links page</span></a></li>
          <li><a href="#"><span>Sample Links page</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico5.png" class="img-responsive" alt="ico"><span>purchase</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>purchase</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico6.png" class="img-responsive" alt="ico"><span>referral</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>referral</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico7.png" class="img-responsive" alt="ico"><span>Quick Links</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>Quick Links</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico8.png" class="img-responsive" alt="ico"><span>lending Programe</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>lending Programe</span></a></li>
        </ul>
      </li>
      <li> <a href="#"><img src="images/ico9.png" class="img-responsive" alt="ico"><span>Logout</span></a>
        <ul style="display: none;" class="nav nav-sub nav-sub--open">
          <li class="active nav-sub-header"><a href="#"><span>Logout</span></a></li>
        </ul>
      </li>
    </ul>
    
    <span class="admin-copy fw-3">Copyright@2018</span>
  </aside>
  <!--sidebar end-->
  
  <div id="content" class="ui-content ui-content-aside-overlay">
    <div class="ui-content-body">
      <div class="ui-container">
        <div class="admin_body ">
          <div class="row">    <div class="color-wrap">
         <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="color-box color1">
                <h6 class="text-white">Open Tokens <img src="images/color-arrow1.png" class="img-responsive" alt="arrow"></h6>
                <span>15<small>%</small></span> </div>
            </div>
         <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="color-box color2">
                <h6 class="text-white">Closed Tokens <img src="images/color-arrow2.png" class="img-responsive" alt="arrow"></h6>
                <span>82<small>%</small></span> </div>
            </div>
        <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="color-box color3">
                <h6 class="text-white">New Orders <img src="images/color-arrow3.png" class="img-responsive" alt="arrow"></h6>
                <span>25<small>%</small></span> </div>
            </div>
     <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="color-box color4">
                <h6 class="text-white">New Clients <img src="images/color-arrow4.png" class="img-responsive" alt="arrow"></h6>
                <span>584</span> </div>
            </div>
     <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="color-box color5">
                <h6 class="text-white">Week Income <img src="images/color-arrow5.png" class="img-responsive" alt="arrow"></h6>
                <span>84<small>$</small></span> </div>
            </div>
       <div class="col-md-2 col-sm-3 col-xs-6">
              <div class="color-box color6">
                <h6 class="text-white">Total Income <img src="images/color-arrow1.png" class="img-responsive" alt="arrow"></h6>
                <span>522</span> </div>
            </div>
          </div>   </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="info-bar mt-30 mb-20">
                <div class="info-left">
                  <h4 class="text-white fw-4  mb-10">Estimate amount of Gobal Coin tokens:</h4>
                  <small class="text-white fw-3">Including Bonus</small> </div>
                <div class="info-right"> <small class=" theme-color1 fw-3  mb-10 text-right">Including Bonus</small>
                  <h3 class="text-white">$ 235.21457895</h3>
                </div>
              </div>
              <div class="info-left"> <span class="theme-color fw-3">Current Bonus:  15%</span> </div>
              <div class="info-right"> <span class="theme-color text-right">Next Bonus Shift: 11D 12H 43M 10s</span> </div>
            </div>
          </div>
        
          
          <div class="row mt-10 mb-10">
          
           
                <div class="col-xs-12">
                    <h2 class="theme-color mb-20">Coin Details</h2>
                 </div>   
                    
                 <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
            
              
                   
           
            <div class="dep-sec">
                        <h5 class="admin-title text-white fw-9 mb-10" style="color: rgb(98, 137, 211);">Deposit Bitcoin</h5>

                  <div class="two_title clearfix"> <span>
                    <h3 class="theme-color1 fw-9 mb-30">Receive Bitcoin (BTC)</h3>
                    </span> </div>
                  <div class="form_input">
                    <label>Your Bitcoin Deposit Address</label>
                    <div class="oc"> <i class="ti ti-link"></i>
                      <input type="text" placeholder="1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX" class="">
                    </div>
                  </div>
                  <div class="bar_code  mb-30 text-center"> <img alt="ico" src="images/barcode.png" class="hover m0a"> </div>
                  <span class="min_wd"> 
                  <small class="note">*</small> Minimum Withdrawal 0.005 BTC   Transaction Fee: 0.0004 BTC</span> 
                  
                  <span class="text-center mt-20 mb-10" style="width: 100%; display: inline-block;">
                  
                
                    </span> 
                    
                    
                    
                    </div>
               <div class="mt-10 mb-10 text-center">
              <a class="btn btn-default btn-sm">Deposit Amount</a>
            
            </div>
            
            </div>
            
               <div class="col-md-6 col-sm-12 col-xs-12 mb-10">
              
              
             
              
              <div class="dep-sec">
                  <h5 class="admin-title text-white fw-9 mb-10" style="color: rgb(98, 137, 211);">Withdraw Bitcoin</h5>
                  <div class="two_title clearfix"> <span>
                    <h3 class="theme-color1 fw-9">Send Bitcoin (BTC)</h3>
                    </span> </div>
                  <span class="wallet_balance mt-10">
                  <label>Your bitcoin wallet balance : </label>
                  0.000000000 BTC</span>
                  <div class="form_input">
                    <label>To address:</label>
                    <div class="bc"> <i class="ti ti-link"></i>
                      <input type="text" placeholder="1F1tAaz5x1HUXrCNLbtMDqcw6o5GNn4xqX" class="">
                    </div>
                  </div>
                  <div class="form_input">
                    <label>Quantity in Bitcoin</label>
                    <div class="bc"> <i class="fa fa-bitcoin"></i>
                      <input type="text" placeholder="0.000000000" class="">
                    </div>
                  </div>
                <span class="min_wd" style="text-align: left;"> <small class="note">*</small> 
                  Minimum Withdrawal 0.005 BTC   Transaction Fee: 0.0004 BTC</span>
                   <span class="text-center mt-20 mb-10" style="width: 100%; display: inline-block;">
                   

                    
                     </span> </div>
                     <div class="mt-10 mb-10 text-center">
                       <a class="btn btn-primary btn-sm">Withdraw  Amount</a>
                       </div>
                 </div>
              
              
              
                 </div></div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="js/jquery-2.1.4.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/side_menu.js"></script>
</html>