<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

favicon.png

<!--parallax-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="js/parallax.min.js"></script>

<!--bootstrap style-->

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  />

<!--animate style-->

<link rel="stylesheet" type="text/css" href="css/hover-min.css"  />
<link rel="stylesheet" type="text/css" href="css/animate.css"  />

<!--themify style-->

<link rel="stylesheet" type="text/css" href="css/themify-icons.css"  />
<link rel="stylesheet" href="css/modal-video.min.css">

<!--owl carousel style-->

<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css"  />
<link rel="stylesheet" type="text/css" href="css/owl.theme.css"  />

<!--fonts style style-->

<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"  />
<link rel="stylesheet" type="text/css" href="css/cryptofont.css"  />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">

<!--bootstrap form helpers-->

<link rel="stylesheet" type="text/css" href="css/bootstrap-formhelpers.css"  />

<!--typography style-->

<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!--basic style-->

<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
</head>

<body>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="head_left">
          <div class="logo-bg"> <a href="/"><img alt="logo" class="img-responsive logo index-logo" src="images/axc/logo.axc.png"> </a> </div>
          <nav class="navbar navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <h4>Menu</h4>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#About">About</a></li>
                <li><a href="#Whitepaper">Whitepaper</a></li>
                <li><a href="#Token">Token</a></li>
                <li><a href="#Roadmap">Roadmap</a></li>
                <li><a href="#Partner">Partner</a></li>
                <li><a href="#Team">Team</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="head_right"> <a class="uppercase fw-3" href="/login" >Login</a>
          <a class="unique-btn" href="/register" >join us</a> </div>
      </div>
    </div>
  </div>
</header>
<section id="Top" class="img-bg text-center parallax-window" data-parallax="scroll" data-image-src="images/axc/top.axc.png" >
  <div class="container">
    <div class="row">
      <div class="banner-info">
        <h1 class="mt-20 mb-40">Asian Medical<br />
          Information Exchange<br />
          Blockchain ICO
        </h1>
        <h4 class="fw-6 text-black mb-20">Token Sale Finishes In:</h4>
        <div id="clockdiv" class="clock_counter_main clearfix">
          <ul>
            <li><span class="days"></span><small>Days</small></li>
            <li><span class="hours"></span><small>Hours</small></li>
            <li><span class="minutes"></span><small>Minutes</small></li>
            <li><span class="seconds"></span><small>seconds</small></li>
          </ul>
        </div>
        <div class="banner-btn"> <a href="wp/AXC_whitepaper_ver1.0.pdf" class="btn regist-btn">Read Our whitepaper</a></div>
      </div>
    </div>
  </div>
</section>
<section id="About" class="text-center page-section-ptb" >
  <div class="container">
    <div class="row">
      <div class="title mt-10 mb-10">
        <h2 class="theme-color">About ArteryexICO</h2>
      </div>
      <p class="pad-content">
        To contribute to world’s medical efficiency, we will break through environment where individuals have hard access and benefit from medical data, and accelerate data connections creating Evidence Based Machine having patient at the center.
      </p>
      <img alt="crypto" class="img-responsive center-block" src="images/axc/crypto.2.png">
    </div>
  </div>
</section>
<section class="page-section-ptb" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-50 text-center">
          <h2 class="theme-color">Why You Should Buy ArteryexICO</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="three-block"> <img alt="image" class="img-responsive center-block" src="images/axc/chart.axc.jpg">
          <h3 class="fw-3-left">AXC value increases with<br/> the number of accumulated medical data</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="three-block"> <img alt="image" class="img-responsive center-block" src="images/axc/axc.image.jpg">
          <h3 class="fw-3-center">Benefit to all players get involved in medical and healthcare</h3>
       </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="three-block"> <img alt="image" class="img-responsive center-block" src="images/axc/cards.axc.jpg">
          <h3 class="fw-3-right">Healthcare Dapps is already under development<br/>(β will release in july 2018)</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="Whitepaper" class="img-bg2 page-section-ptb parallax-window" data-parallax="scroll" data-image-src="images/axc/img-bg1.axc.png">
  <div class="container">
    <div class="row">
      <div class="pages-sec">
        <div class="col-md-12 col-sm-12 col-xs-12 text-center"> <img alt="image" class="img-responsive center-block mb-10 wp-icon" src="images/axc/sheet2.axc.png"> <a href="" class="btn btn-primary">Download The White Paper</a>
          <h4 class="fw-6">Also Available In:</h4>
          <img alt="image" class="img-responsive center-block" src="images/lan2.jpg"> </div>
      </div>
    </div>
  </div>
</section>
<section id="Token" class="page-section-ptb" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-50 text-center">
          <h2 class="theme-color">Token Distribution and Details</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="token-info">
          <h4 class="fw-6 theme-color">Characteristics</h4>
          <ul>
            <li>Token Name: Arteryex Coin</li>
            <li>Token Symbol: AXC</li>
            <li>ICO: 2018/9/1 ~ 2018/9/29</li>
            <li>1AXC = 0.0001 ETH</li>
            <li>Token Type: ERC-20</li>
            <li>Hard cap for ICO: 350,000,000AXC</li>
            <li>Soft cap: 40,000,000AXC</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12  col-xs-12"> <img alt="image" class="img-responsive center-block" src="images/axc/token-chart.axc.png"> </div>
      <div class="col-md-4 col-sm-12  col-xs-12">
        <ul class="token-allocate">
          <li class="color1">35% ICO</li>
          <li class="color2">10% Founder</li>
          <li class="color3">5% Team</li>
          <li class="color5">50% Service Reserved</li>
          <small>*Reserved tokens are stock for Arteryex Services</small>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="Roadmap" class="text-center page-section-ptb" >
    <div class="container">
      <div class="row">
        <div class="title mt-10 mb-10">
          <h2 class="theme-color">Roadmap</h2>
        </div>
        <img alt="roadmap" class="img-responsive center-block" src="images/axc/axc.roadmap.png">
      </div>
    </div>
  </section>
<section id="Partner" class="page-section-1-ptb theme-bgcolor1 " >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-20 text-center">
          <h2 class="theme-color">Who We Work With </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="scroll-img">
          <li> <img alt="image" class="img-responsive center-block" src="images/partner1.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner2.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner3.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner4.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner5.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner6.jpg"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="Team" class="page-section-1-ptb w360">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-30 text-center">
          <h2 class="theme-color">Team Details</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" height="120px" src="images/member/touei.jpg">
          <h6>Dongying Li</h6>
          <span>Co-Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" height="120px" src="images/member/shota.png">
          <h6>Shota Hyashi</h6>
          <span>Co-Founder &amp; COO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/satomi.jpg">
          <h6>Kenta Satomi</h6>
          <span>Fullstack Engineer</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/nagisa.jpg">
          <h6>Yuhe Nagisa</h6>
          <span>CTO</span>
          <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/tachibana.png">
          <h6>Yoshiki Tachibana</h6>
          <span>CFO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/ishikawa.jpg">
          <h6>Erika Ishikawa</h6>
          <span>Data Scientist</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/matsunaga.png">
          <h6>Taketo Matsunaga</h6>
          <span>Engineer</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/kawaguchi.jpg">
          <h6>Hitomi Kwaguchi</h6>
          <span>Marketing</span>
          <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/futenma.png">
          <h6>Kunihiro Futenma</h6>
          <span>Doctor</span>
          <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/hagiwara.jpg">
          <h6>Ryosuke Hagiwara</h6>
          <span>Engineer</span>
          <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/suzuki.png">
          <h6>Tomohiro Suzuki</h6>
          <span>Designer</span>
          <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-30 text-center">
          <h2 class="theme-color">Advisors</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/matsui.png">
          <h6>Haruhiko Matsui</h6>
          <span>Ex-EY advisory JAPAN CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" width="120px" src="images/member/fujii.png">
          <h6>Hideki Fujii</h6>
          <span>Pactera consulting,inc CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="img-bg3 text-center page-section-1-ptb" >
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="footer-left"> <img alt="logo" class="img-responsive logo mt-10 mb-10" src="images/axc/arteryex-logp.white.png"> <span class="text-white"><a href="" class="text-white">Arteryex,Inc</a> &amp; <a href="" class="text-white"> All rights Reserved</a></span> </div>
    </div>
    <div class="col-md-4 col-sm-2 col-xs-2">
      <div class="footer-mid"> <span class="back-to-top"> <a href="" id="back-to-top" ><i class="fa fa-arrow-up"></i></a></span> </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="footer-right">
        <h4 class="fw-6 text-white">Share our links </h4>
        <ul class="footer-social">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-reddit"></i></a></li>
          <li><a href=""><i class="fa fa-skype"></i></a></li>
          <li><a href=""><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
</body>
<script src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.js"></script>
<script>
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

//    var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
    var deadline = new Date(Date.parse(new Date(2018,8,1) ));
    initializeClock('clockdiv', deadline);
</script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        $('#back-to-top').tooltip('show');

});

</script>
<script src="js/owl.carousel.js"></script>
<script>
  $(document).ready(function() {
      var owl = $(".scroll-img");
      owl.owlCarousel({
        itemsCustom : [
          [0, 1],
          [360, 2],
          [600, 3],
          [767, 4],
          [1000, 5],
          [1200, 6],
          [1400, 6],
          [1600, 6]
        ],
        navigation : false,
     pagination : false,
    loop:true,
      autoplay:true,
      autoplayTimeout:500,
      autoplayHoverPause:true,
navigationText: [
        "<i class='fa fa-chevron-left'></i>",
        "<i class='fa fa-chevron-right'></i>"]

      });
    });
  
    
  
  
  
</script>
<script src="js/side_menu.js"></script>
</html>
