<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<!--bootstrap style-->

<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"  />

<!--animate style-->

<link rel="stylesheet" type="text/css" href="css/hover-min.css"  />
<link rel="stylesheet" type="text/css" href="css/animate.css"  />

<!--themify style-->

<link rel="stylesheet" type="text/css" href="css/themify-icons.css"  />
<link rel="stylesheet" href="css/modal-video.min.css">

<!--owl carousel style-->

<link rel="stylesheet" type="text/css" href="css/owl.carousel.min.css"  />
<link rel="stylesheet" type="text/css" href="css/owl.theme.css"  />

<!--fonts style style-->

<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"  />
<link rel="stylesheet" type="text/css" href="css/cryptofont.css"  />
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700,900" rel="stylesheet">

<!--bootstrap form helpers-->

<link rel="stylesheet" type="text/css" href="css/bootstrap-formhelpers.css"  />

<!--typography style-->

<link rel="stylesheet" type="text/css" href="css/typography.css" />

<!--basic style-->

<link rel="stylesheet" type="text/css" href="css/style.css" />
<link rel="stylesheet" type="text/css" href="css/responsive.css" />
</head>

<body>
<header>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="head_left">
          <div class="logo-bg"> <a href="/"><img alt="logo" class="img-responsive logo index-logo" src="images/axc/logo.axc.png"> </a> </div>
          <nav class="navbar navbar-inverse">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              <h4>Menu</h4>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li><a href="#">Team </a></li>
                <li><a href="#">Whitepaper </a></li>
                <li><a href="#">News </a></li>
                <li><a href="#">Events </a></li>
                <li><a href="#">Careers </a></li>
                <li><a href="#">Contact </a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="head_right"> <a class="uppercase fw-3" href="/login" >Login</a>
          <a class="unique-btn" href="/register" >join us</a> </div>
      </div>
    </div>
  </div>
</header>
<section class="img-bg text-center" >
  <div class="container">
    <div class="row">
      <div class="banner-info">
        <h1 class="mt-20 mb-40">Asian Medical<br />
          Information Exchange<br />
          Blockchain ICO
        </h1>
        <h4 class="fw-6 text-black mb-20">Token Sale Finishes In:</h4>
        <div id="clockdiv" class="clock_counter_main clearfix">
          <ul>
            <li><span class="days"></span><small>Days</small></li>
            <li><span class="hours"></span><small>Hours</small></li>
            <li><span class="minutes"></span><small>Minutes</small></li>
            <li><span class="seconds"></span><small>seconds</small></li>
          </ul>
        </div>
        <div class="banner-btn"> <a href="" class="btn regist-btn">Read Our whitepaper</a></div>
      </div>
    </div>
  </div>
</section>
<section class="text-center page-section-ptb" >
  <div class="container">
    <div class="row">
      <div class="title mt-10 mb-10">
        <h2 class="theme-color">About ArteryexICO</h2>
      </div>
      <p class="pad-content">Founded by a group of blockchain enthusiasts who had proved themselves in industry giants like Ant Financial and GF Securities, Kucoin aims at providing users digital asset transaction and exchange services which are even more safe and convenient, integrating premium assets worldwide, and constructing state</p>
      <img alt="crypto" class="img-responsive center-block" src="images/axc/crypto.2.png">
    </div>
  </div>
</section>
<section class="page-section-ptb" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-50 text-center">
          <h2 class="theme-color">Why You Should Buy ArteryexICO</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4">
        <div class="three-block"> <img alt="image" class="img-responsive center-block" src="images/axc/chart.axc.png">
          <h3 class="fw-3-left">AXC value increases with<br/> the number of accumulated medical data</h3>
        </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="three-block"> <img alt="image" class="img-responsive center-block" src="images/axc/axc.image.png">
          <h3 class="fw-3-center">Benefit to all players get involved in medical and healthcare</h3>
       </div>
      </div>
      <div class="col-md-4 col-sm-4">
        <div class="three-block"> <img alt="image" class="img-responsive center-block" src="images/axc/cards.axc.png">
          <h3 class="fw-3-right">Healthcare Dapps is already under development<br/>(β will release in july 2018)</h3>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="img-bg2 page-section-ptb" >
  <div class="container">
    <div class="row">
      <div class="pages-sec">
        <div class="col-md-4 col-sm-4 col-xs-4  text-center"> <img alt="image" class="img-responsive center-block mb-10 wp-icon" src="images/axc/sheet1.axc.png"> <a href="" class="btn btn-primary">Download The One Pager</a>
          <h4 class="fw-6">Also Available In:</h4>
          <img alt="image" class="img-responsive center-block" src="images/lan1.jpg"> </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center"> <img alt="image" class="img-responsive center-block mb-10 wp-icon" src="images/axc/sheet2.axc.png"> <a href="" class="btn btn-primary">Download The White Paper</a>
          <h4 class="fw-6">Also Available In:</h4>
          <img alt="image" class="img-responsive center-block" src="images/lan2.jpg"> </div>
        <div class="col-md-4 col-sm-4 col-xs-4 text-center"> <img alt="image" class="img-responsive center-block mb-10 wp-icon" src="images/axc/sheet1.axc.png"> <a href="" class="btn btn-primary">Download The Yellow Page</a>
          <h4 class="fw-6">Also Available In:</h4>
          <img alt="image" class="img-responsive center-block" src="images/lan1.jpg"> </div>
      </div>
    </div>
  </div>
</section>
<section class="page-section-ptb" >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-50 text-center">
          <h2 class="theme-color">Token Distribution and Details</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="token-info">
          <h4 class="fw-6 theme-color">Characteristics</h4>
          <ul>
            <li>Symbol: Medsico</li>
            <li>Intial Value: 1ETH = 2,000 MCH</li>
            <li>ICO: jan 16th, 2018 at 12pm CET</li>
            <li>Type: ERC20</li>
            <li>Hard cap: 14,333 MCH</li>
            <li>Symbol: Medsico</li>
            <li>Token supply Cap: 100,000,000 MCH</li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12  col-xs-12"> <img alt="image" class="img-responsive center-block" src="images/axc/token-chart.axc.png"> </div>
      <div class="col-md-4 col-sm-12  col-xs-12">
        <ul class="token-allocate">
          <li class="color1">40% ICO</li>
          <li class="color2">30% Medsico</li>
          <li class="color3">3% Bounty Program</li>
          <li class="color4">10% Team</li>
          <li class="color5">15% Advisors & early backers*</li>
          <li class="color6">27% Medsico Company*</li>
          <small>*Tokens are locked by the smart contract for 6 or months</small>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="text-center page-section-ptb" >
    <div class="container">
      <div class="row">
        <div class="title mt-10 mb-10">
          <h2 class="theme-color">Roadmap</h2>
        </div>
        <img alt="roadmap" class="img-responsive center-block" src="images/axc/axc.roadmap.png">
      </div>
    </div>
  </section>
<section class="page-section-1-ptb theme-bgcolor1 " >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-20 text-center">
          <h2 class="theme-color">Who We Work With </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="scroll-img">
          <li> <img alt="image" class="img-responsive center-block" src="images/partner1.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner2.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner3.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner4.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner5.jpg"></li>
          <li> <img alt="image" class="img-responsive center-block" src="images/partner6.jpg"></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section class="page-section-1-ptb w360">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="title mt-10 mb-30 text-center">
          <h2 class="theme-color">Team Details and Advisors</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team1.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team2.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team3.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team4.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team1.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team2.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team3.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-facebook"></i></a></li>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-4 col-xs-6">
        <div class="team-info"> <img alt="image" class="img-responsive center-block" src="images/team4.jpg">
          <h6>Alex Moment</h6>
          <span>Founder &amp; CEO</span>
          <ul>
            <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<footer class="img-bg3 text-center page-section-1-ptb" >
<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-6">
      <div class="footer-left"> <img alt="logo" class="img-responsive logo mt-10 mb-10" src="images/axc/arteryex-logp.white.png"> <span class="text-white"><a href="" class="text-white">Arteryex,Inc</a> &amp; <a href="" class="text-white"> All rights Reserved</a></span> </div>
    </div>
    <div class="col-md-4 col-sm-2 col-xs-2">
      <div class="footer-mid"> <span class="back-to-top"> <a href="" id="back-to-top" ><i class="fa fa-arrow-up"></i></a></span> </div>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="footer-right">
        <h4 class="fw-6 text-white">Share our links </h4>
        <ul class="footer-social">
          <li><a href=""><i class="fa fa-facebook"></i></a></li>
          <li><a href=""><i class="fa fa-twitter"></i></a></li>
          <li><a href=""><i class="fa fa-linkedin"></i></a></li>
          <li><a href=""><i class="fa fa-youtube"></i></a></li>
          <li><a href=""><i class="fa fa-reddit"></i></a></li>
          <li><a href=""><i class="fa fa-skype"></i></a></li>
          <li><a href=""><i class="fa fa-github"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
</section>
</body>
<script src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/jquery.mmenu.js"></script>
<script>
    function getTimeRemaining(endtime) {
        var t = Date.parse(endtime) - Date.parse(new Date());
        var seconds = Math.floor((t / 1000) % 60);
        var minutes = Math.floor((t / 1000 / 60) % 60);
        var hours = Math.floor((t / (1000 * 60 * 60)) % 24);
        var days = Math.floor(t / (1000 * 60 * 60 * 24));
        return {
            'total': t,
            'days': days,
            'hours': hours,
            'minutes': minutes,
            'seconds': seconds
        };
    }

    function initializeClock(id, endtime) {
        var clock = document.getElementById(id);
        var daysSpan = clock.querySelector('.days');
        var hoursSpan = clock.querySelector('.hours');
        var minutesSpan = clock.querySelector('.minutes');
        var secondsSpan = clock.querySelector('.seconds');

        function updateClock() {
            var t = getTimeRemaining(endtime);

            daysSpan.innerHTML = t.days;
            hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
            minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
            secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

            if (t.total <= 0) {
                clearInterval(timeinterval);
            }
        }

        updateClock();
        var timeinterval = setInterval(updateClock, 1000);
    }

//    var deadline = new Date(Date.parse(new Date()) + 15 * 24 * 60 * 60 * 1000);
    var deadline = new Date(Date.parse(new Date(2018,8,1) ));
    initializeClock('clockdiv', deadline);
</script>
<script src="js/bootstrap.min.js"></script>
<script>
    $(document).ready(function(){
     $(window).scroll(function () {
            if ($(this).scrollTop() > 50) {
                $('#back-to-top').fadeIn();
            } else {
                $('#back-to-top').fadeOut();
            }
        });
        // scroll body to 0px on click
        $('#back-to-top').click(function () {
            $('#back-to-top').tooltip('hide');
            $('body,html').animate({
                scrollTop: 0
            }, 800);
            return false;
        });
        
        $('#back-to-top').tooltip('show');

});

</script>
<script src="js/owl.carousel.js"></script>
<script>
	$(document).ready(function() {
      var owl = $(".scroll-img");
      owl.owlCarousel({
        itemsCustom : [
          [0, 1],
          [360, 2],
          [600, 3],
          [767, 4],
          [1000, 5],
          [1200, 6],
          [1400, 6],
          [1600, 6]
        ],
        navigation : false,
		 pagination : false,
		loop:true,
    	autoplay:true,
    	autoplayTimeout:500,
    	autoplayHoverPause:true,
navigationText: [
        "<i class='fa fa-chevron-left'></i>",
        "<i class='fa fa-chevron-right'></i>"]

      });
    });
	
		
	
	
	
</script>
<script src="js/side_menu.js"></script>
</html>
