@charset "utf-8";
/* CSS Document */

/*reset css*/

*{margin:0;padding:0;}
h1, h2, h3, h4, h5, h6, p, ul{margin:0; padding:0;}
a{ text-decoration:none !important;}
select{appearance:none !important; -moz-appearance:none !important; -webkit-appearance:none !important; border:none !important;
transition:.3s;}
select:active, select:focus{ border-radius:0; transition:.3s;}
input[type="submit"]{ border:none;}










/***************************************************dashboard*********************************************************/

.inner_page_footer{ width:100%; padding:0;}
.inner_page_footer .footer_inner h2{ background-color:#2e3546;}
.ui-header:after{ display:none;}
.ui-aside .nav > li > a > span > i { display: inline-block; float: none; font-size: 13px; margin: 0; padding: 0;color: #fff;}

.ui-aside-compact .ui-aside .nav > li > a {
  padding: 6px 4px;
}

.ui-aside .nav li a > i {
  border-radius: 50%;
  display: inline-block;
  padding: 0px 14px;
}
.ui-aside .nav > li ul li a span {
  color: #fff;
  text-transform: none;
}
aside li a img {
  float: left;
  padding: 0 13px;
}
aside .nav li {
  margin-bottom: 7px;
}
.ui-aside .nav li a:active > i,
.ui-aside .nav li a:focus > i,
.ui-aside .nav li a:hover > i{ }

.ui .navbar-header{ background:#000;}

.admin_title {
  display: inline-block;
  padding: 11px 26px;
}
.admin_title h4{ font-size:22px; color:#fff; text-transform:capitalize; font-weight:200; text-shadow: 0px 0px 0px rgba(255, 255, 255, 1);}
.admin_title h4 img{ display:inline-block;}
.admin_title h4 span{ font-size:14px; font-weight:300;}

.admin_user_right{ display:inline-block; vertical-align:middle; float:right; padding: 10px 20px;}

.admin_user_right li a i {
  color: #fff;
}

.admin_user_right select {
  float: left;
  margin-right: 10px;
}
.admin_user_right li {
  color: #fff;
  display: inline-block;
  list-style-type: none;
  margin: 0 5px;
}
.admin_user_right > ul {
  float: right;
  margin: 5px 0;
}

.admin_user_right li small {
  background-color: #fd6025;
  border-radius: 50%;
  display: inline-block;
  font-weight: 600;
  height: 16px;
  text-align: center;
  width: 16px;
  position: relative;
  top: -7px;
  right: 3px;
}
.side-title a span {
  font-size: 22px;
  font-weight: 300;
}

.profile-info {
  margin: 15px 0;
  padding-left: 40px;
  text-align: center;
}
.ui-aside-compact .profile-info {
  display: none;
}
.profile-img img {
  border-radius: 50%;
}

.profile-social li {
  display: inline-block;
}
.profile-social li a {
  color: #fff;
  font-size: 17px;
  margin: 0 4px;
}
.color-box {
  height: 125px;
  margin: 10px auto;
  padding: 5px;
  width: 157px;
}
.color1 {
  background: transparent url("../images/color-box1.jpg") no-repeat scroll 0 0;

}
.color2 {
  background: transparent url("../images/color-box2.jpg") no-repeat scroll 0 0;

}
	
	.color3 {
  background: transparent url("../images/color-box3.jpg") no-repeat scroll 0 0;

}
	
	.color4 {
  background: transparent url("../images/color-box4.jpg") no-repeat scroll 0 0;

}
	
	.color5 {
  background: transparent url("../images/color-box5.jpg") no-repeat scroll 0 0;

}
	
	.color6 {
  background: transparent url("../images/color-box6.jpg") no-repeat scroll 0 0;

}
	
	
	.color-box img {
  float: right;
}
.color-box span {
  color: #fff;
  float: right;
  font-size: 50px;
  font-weight: 300;
  margin-right: 0;
  margin-top: 10px;
}
	
.admin_body {
  margin-left:20px;
  margin-right:20px;
  padding: 15px 20px;
}
	
.info-bar {
  /*background: transparent url("../images/info-bar.jpg") no-repeat scroll 0 0 / cover;*/
  display: inline-block;
  padding: 20px 10px;
  width: 100%;
  border: 1px solid #3b4453;
  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;

-webkit-box-shadow: 0px 0px 46px 5px rgba(0,0,0,0.17);
-moz-box-shadow: 0px 0px 46px 5px rgba(0,0,0,0.17);
box-shadow: 0px 0px 46px 5px rgba(0,0,0,0.17);
}
.info-left {
  float: left;
}.info-left small {
  display: block;
}
.info-right {
  float: right;
}
	
.info-right small {
  display: block;
}	
	
	
.wallet-details li {
  display: inline-block;
  list-style-type: none;
  margin:7px 0;
  width: 100%;
}
.wallet-details li h6 i {
  font-size: 27px;
  margin-right: 10px;
}
.wallet-details span {
  font-size: 19px;
  font-weight: 300;
  margin: 0 0px;
}
.green {
  color: #1eab6a;
}
.orange {
  color: #ec6c21;
}
	
.wallet-details h6 {
  float: left;
  width: 220px;
}
	
	.dw {
  float: right;
}
.dw a {
  margin: 0 5px;
  text-decoration: underline !important;
}
	
	.ref-input {
  display: inline-block;
  margin: 0 20px;
  position: relative;
  width: 65%;
}
.ref-input input[type="text"] {
  background-color: #fff;
  border-radius: 0;
  color: #000;
}
.ref-input img {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 10px;
  top: 0;
}
.info-bar h4 {
  float: left;
  margin: 10px 0;
}
	
	.small-btn {
  font-size: 14px;
  font-weight: 300;
}

.admin-copy {
  bottom: 40px;
  position: absolute;
  left: 90px;
}


.ui-aside-compact .admin-copy {
  display: none;
}







.two_title h4 {
  color: #0d1418;
  font-size: 24px;
  font-weight: 300;
  text-transform: capitalize;
}
.two_title h3 {
  color: #f4e1cd;
  font-size: 24px;
  font-weight: 300;
}
.two_title img {
  position: absolute;
  right: 30px;
  top: -30px;
}
.form_input {
  margin-bottom: 20px;
}
.form_input label {
  color: #fff;
  font-family: roboto;
  font-size: 15px;
  font-weight: 300;
}
.oc, .bc {
  position: relative;
}
.oc input[type="text"], .oc input[type="email"], .oc input[type="password"] {
  background-color: #d35b23;
  padding-left: 20px;
  padding-right: 60px;
}

.oc i {
  color: #ff6600;
}
.form_input i {
  background-color: #ede2b6;
  border-radius: 50%;
  bottom: 0;
  color: #223f64;
  font-size: 21px;
  height: 28px;
  line-height: 24px;
  margin: auto;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 0;
  width: 28px;
}
.min_wd {
  color: #8f8f8f;
  display: block;
  margin: 10px 0;
  text-align: center;
  font-size: 12px;
}
.note {
  color: red;
}
.ob {
  background-color: #ff6600;
}

.dep-sec {
  background: rgba(0, 0, 0, 0) url("../images/bg-arch.jpg") no-repeat scroll 0 0 / cover ;
  height: auto;
  padding: 10px;
  width: 100%;
  border: 1px solid #3b4453;
  -webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
.wallet_balance {
  color: #4d628d;
  display: block;
  font-family: roboto;
  font-size: 14px;
  font-weight: 300;
  margin: 3px 0 30px !important;
  text-transform: capitalize;
}
.bc input[type="text"], .bc input[type="email"], .bc input[type="password"] {
  background-color: #133fde;
  padding-left: 20px; padding-right:60px;
}
.wallet_balance label {
  color: #4d628d;
  font-weight: 300;
}


.sel-crypto {
  float: right;
  margin-top: 10px;
}

.sel-crypto > select {
  padding: 0 10px;
}

.regist-btn {
  background-color: #133fde;
  color: white;
}

.regist-wallet-btn {
/*  background-color: #133fde;
  color: white; */
  width: 200px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #000;
  background: #ECECEC;
  transition: .4s;
}
.regist-wallet-btn:hover {
  background: #43178a;
  color: white;
}

.ck-amount-btn {
  background-color: #133fde;
  color: white;
  width: 200px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #000;
  background: #ECECEC;
  transition: .4s;
}
.ck-amount-btn:hover {
  background: #43178a;
  color: white;
}


.refund-btn {
  background-color: #d1d2d6;
  color: white;
  width: 200px;
  background-color: #133fde;
  color: white;
  width: 200px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: rgb(190, 190, 190);
  background: #ECECEC;
  transition: .4s;
}

.admin-btn{
  position: relative;
  text-align: center;
}

.validate-btn{
  width: 200px;
  background-color: #133fde;
  color: white;
  width: 200px;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  text-decoration: none;
  background: #8277c9;
  transition: .4s;
}
.validate-btn:hover {
  background: #43178a;
  color: white;
}

.logout{
  display: inline-block;
  text-decoration: none;
  color: #8177c9;
  width: 100px;
  height: 40px;
  border: double 4px #8177c9;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .6s;
}
.logout:hover{
  -webkit-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.wallet-form{
  border: solid 1px black !important;
  border-radius: 2px !important;
  background-color: white !important;
  color: black !important;
  font-size: 19px !important;
  font-weight: 300 !important;
  margin: 0 0px !important;
}



.dashboard-space1 {
  padding: 0.5em 1em;
  margin: 2em 0;
  font-weight: bold;
  color: #6091d3;/*文字色*/
  background: #FFF;
  border: solid 3px #6091d3;/*線*/
  border-radius: 10px;/*角の丸み*/
}



